/* Base styles */
body, html {
    background-color: #011627;
    color: #fdfffc;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'lekton';
    overflow: hidden;
}

@font-face {
    font-family: 'lekton';
    src: url('/fonts/Lekton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lekton-bold';
    src: url('/fonts/Lekton-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Container for slides */
.slide-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Styles for each slide */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide.active {
    opacity: 1;
    visibility: visible;
}

/* Header styling */
header {
    position: absolute; /* Ensure header is positioned relative to the viewport */
    top: 0; /* Touch the top of the viewport */
    left: 0; /* Align to the left edge */
    width: 100%; /* Full width */
    height: 8em; /* Height of the header */
    margin-bottom: 10px; /* Small margin to separate from content */
    background-color: #011627; /* Ensure header background color matches the body */
}

header h1 {
    line-height: 1.5;
    color: #fdfffc;
    font-size: 2.4em;
    margin: 0;
    text-align: center; /* Center text horizontally */
}

.description {
padding-left: 32px;
padding-right: 32px;
margin-top: 24px;
}

/* Header content styling */
.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10 0px;
    margin-top: 24px;
    margin-left: 32px;
    
}

/* Content frame styles */
.content {
    position: relative;
    width: 30vw; /* Increased width for larger content */
    max-width: 60vh; /* Adjusted max width */
    padding-top: 30vw; /* Adjusted padding for aspect ratio */
    max-height: 60vh; /* Adjusted max height */
    margin-top: 10px; /* Space below the header */
}


/* Framed image styles */
.framed-image {
    position: absolute;
    top: 50%; /* Center the image vertically */
    left: 50%; /* Center the image horizontally */
    transform: translate(-50%, -50%); /* Adjust the image position to start from the middle */
    width: 86.5%; /* Adjust the size of the framed image relative to the frame */
    height: 86.5%; /* Maintain the same percentage as width for a square image */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    z-index: 0;
}

/* Frame styles */
.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

/* Navigation styling */
.navigation {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.navigation button {
    font-family: 'lekton';
    background-color: #00000000;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

/* Logo styling */
.logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-left: -10px;
    margin-bottom: -20px;
}

/* Form styling */
#imageForm {
    white-space: nowrap;
    padding: 0px;
}

.form-group {
    align-items: center; /* Align items vertically centered */
}

#imageForm label {
    color: #fdfffc;
}

#imageForm input[type="number"] {
    background-color: transparent;
    color: #fdfffc;
    border: none;
    border-bottom: 3px dashed red;
    font-family: 'lekton-bold';
    font-size: 1em;
    outline: none;
    text-align: center;
}

#imageForm input[type="number"]:focus {
    border-bottom: 3px dashed red;
}

/* Hide default spinner arrows in most browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hide default spinner */
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Hide default spinner in Firefox */
}

input[type="number"]::-webkit-outer-spin-button {
    background: transparent;
    border: none;
    color: white;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove default appearance */
}

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove default appearance */
}

#artCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Canvas is beneath the frame */
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Loading message styling */
#loadingMessage {
    display: none;
    color: white;
    margin-left: 0px;
}

/* Traits ticker styling */
#traitsTicker {
    margin-left: 0px;
    display: none;
    width: 76.5%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: #011627;
}

/* Navigation arrows styling */
.navigation-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftArrow,
#rightArrow {
    font-family: 'lekton-bold';
    background-color: #00000000;
    font-size: 5em;
    color: white;
    border: 2px solid #011627;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#leftArrow:hover,
#rightArrow:hover {
    color: red;
}

#imageFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Container for the ticker text */
.ticker-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-left: 32px;
    width: calc(100% - 64px);
}

.ticker-content {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%; /* Start the ticker from the right edge */
    animation: ticker 20s linear infinite; /* Adjust the duration as needed */
}

/* Ticker animation */
@keyframes ticker {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}



/* Mobile Styles */
@media (max-width: 768px) {
    header {
        height: 4em;
    }

    header h1 {
        font-size: 1em;
    }

    .content {
        width: 70vw; /* Increased width for better mobile view */
        padding-top: 70vw; /* Adjust padding for aspect ratio */
        max-width: 70vw; /* Cap width to viewport width */
        max-height: 70vw; /* Cap height to viewport width */
        margin-top: 10px; /* Space below the header */
    }

    .navigation {
        bottom: 10px;
        right: 32px;
    }

    .navigation button {
        font-size: 0.9em;
    }

    .logo {
    }

    .logo img {
        width: 80px; /* Adjust logo size for mobile */
    }

    .header-content {
        flex-direction: row;
        align-items: center;
    }

    #loadingMessage {
        margin-left: 0;
    }

    #traitsTicker {
        margin-left: 0;
    }
}



