/* Base styles */
body, html {
    background-color: #001627;
    color: #fdfffc;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'pixelfy';
    overflow: hidden;
}

@font-face {
    font-family: 'pixelfy';
    src: url('/fonts/pixelfy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Container for slides */
.slide-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Styles for each slide */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide.active {
    opacity: 1;
    visibility: visible;
}

/* Header styling */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8em;
    margin-bottom: 10px;
    background-color: #001627;
}

header h1 {
    line-height: 1.5;
    color: #fdfffc;
    font-size: 2.2em;
    margin: 0;
    text-align: center;
}

.description {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 24px;
}

/* Header content styling */
.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-top: 17px;
    margin-left: 32px;
}

/* Content frame styles */
.content {
    position: relative;
    width: 30vw;
    max-width: 60vh;
    padding-top: 30vw;
    max-height: 60vh;
    margin-top: 10px;
}

/* Framed image styles */
.framed-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86.5%;
    height: 86.5%;
    object-fit: cover;
    z-index: 0;
}

/* Frame styles */
.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

/* Navigation styling */
.navigation {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.navigation button {
    font-family: 'pixelfy';
    background-color: #00000000;
    color: white;
    border: none;
    font-size: 2.2em;
    cursor: pointer;
    border-radius: 5px;
}

/* Logo styling */
.logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logo img {
    width: 140px;
    height: auto;
    margin-left: -10px;
    margin-bottom: -20px;
}

/* Form styling */
#imageForm {
    white-space: nowrap;
    padding: 0;
}

.form-group {
    align-items: center;
}

#imageForm label {
    color: #fdfffc;
}

#imageForm input[type="number"] {
    background-color: transparent;
    color: #fdfffc;
    border: none;
    border-bottom: 2px solid red;
    font-family: 'pixelfy';
    font-size: 1em;
    outline: none;
    text-align: center;
}

#imageForm input[type="number"]:focus {
    border-bottom: 2px solid red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#artCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Loading message styling */
#loadingMessage {
    display: none;
    color: white;
    margin-left: 0;
}

/* Traits ticker styling */
#traitsTicker {
    margin-left: 0px;
    display: none;
    width: calc(100% - 442px);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: #001627;
}

#traitsText {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 1000s linear infinite;
}


/* Navigation arrows styling */
.navigation-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftArrow,
#rightArrow {
    font-family: 'pixelfy';
    background-color: #00000000;
    font-size: 3.2em;
    color: white;
    border: 2px solid #001627;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#leftArrow:hover,
#rightArrow:hover {
    color: red;
}

#imageFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container for the ticker text */
.ticker-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-left: 32px;
    width: calc(100% - 64px);
}

.ticker-content1 {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: ticker1 10s linear infinite;
}

.ticker-content2 {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: ticker2 10s linear infinite;
}

/* Ticker animation */
@keyframes ticker1 {
    0% {
        transform: translateX(-37%);
    }
    32% {
        transform: translateX(-37%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes ticker2 {
    0% {
        transform: translateX(-40.3%);
    }
    32% {
        transform: translateX(-40.3%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Link styles */
.link-style1 {
    color: #fca311;
    text-decoration: none;
}

.link-style2 {
    color: #90e0ef;
    text-decoration: none;
}

.link-style3 {
    color: #ff0000;
    text-decoration: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    header {
        height: 4em;
    }

    header h1 {
        font-size: 1em;
    }

    .content {
        width: 70vw;
        padding-top: 70vw;
        max-width: 70vw;
        max-height: 70vw;
        margin-top: 10px;
    }

    .navigation {
        margin-left: -12px;
        margin-bottom: 0;
    }

    .navigation button {
        font-size: 1em;
    }

    .logo img {
        width: 80px;
        margin-left: -12px;
        margin-bottom: -16px;
    }

    .header-content {
        margin-left: 25px;
    }

    #traitsTicker {
        width: calc(100% - 230px);
    }

    #leftArrow,
    #rightArrow {
        font-size: 2.4em;
    }
}

